.list{
	list-style: none;
}
.list-item{
	padding-left: 25px;
	position: relative;
}
.list-item:before{
	content: "\203B";	
	position: absolute;
	left: 0;
	top: -3px;
	color: green;
	font-size: 20px;
	transition: 1000ms; /*(время отображения(анимация))*/
}
.list-item:hover:before{
	text-shadow: 0px 0px 2px #ff0000;
}
/*.wrapper {
	width: 200px;
	height: 200px;
	background-color: red;
	position: relative;
	margin: 40px;*/
	/*top: 20px;
	right: -20px;
	bottom: ;
	left: 10px;*/

/*.block{
	width: 50px;
	height: 50px;
	background: #000;
	position: absolute;*/
	/*top: 10px;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
.block {
	width: 50px;
	height: 50px;
	background: #000;
	position: fixed;
	z-index: 1;

}